<html>
  <head>
    <link href="logIn.css" rel="stylesheet">
  </head>
  <body>
    <h1 id="title">WEBSITE NAME</h1>
    <form id="login" method="post" action="/main">
      <p><b>LOGIN</b></p>
      <input type="text">
      <input type="password"><br>
      <input type="submit" id="submit" value="login">
    </form>
    <script src="index.js"></script>
  </body>
</html>