html {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#login {
  background-color: rgb(189, 189, 189);
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
#login > input {
  margin: 3px;
}
#submit {
  background-color: rgb(100, 100, 245);
  color: white;
  border-width: 0px;
  font-weight: bold;
  border-radius: 10px;
}
#submit:hover {
  background-color: blue;
}